nav {
    display: flex;
} 

nav.main ul {
    padding: 0.5rem;
    margin: 0;
    background: #FFF;
}

nav.main > ul {
    display: flex;
}

nav ul ul {
    display: none;
    width: 12rem;
    position: absolute;
}

nav.main > ul > li > ul {
    top: 100%; 
    left: 0;
}

nav.main > ul > li > ul > li > ul {
    top: -0.5rem; 
    left: inherit;
    right: 100%;
}


nav.main li {
    list-style: none outside;
    display: block;
    position: relative;
}

nav.main li:hover > ul {
    display: block;
}

nav.main > ul ul li:not(:last-child) {
    padding-bottom: 0.5rem;
}

nav.main > ul > li:not(:last-child) {
    padding-right: 0.5rem;
}

nav.main a {
    display: block;
    padding: 0.5rem 1rem;
    background: #333;
    color: #FFF;
    text-decoration: none;
    border-radius: 0.4rem;
}

nav.main li:hover > a,
nav.main a:hover {
    background: #060;
}