body{
    background: #EEEEEE;
    margin: 5rem;
}

.gallery li{
    display: inline-block;
    border: 5px solid black;
    padding: 1rem;
    float: left;
    margin: 1rem;
}

.picture6 {
    width: 300px;
}